@{
  Layout = "_Layout";
}

<h1>Add an Artist</h1>
<form action="/allArtists" method="post">
  Artist : <input type="text" name="art-name" placeholder="art-name">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back Home</a></p>
